body {
    font-family: "Poppins", sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

.carrossel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
}

.informacoes {
    display: none;
}

.informacoes.ativa {
    display: block;
    font-size: 18px;
    color: #ffffff;
    font-family: "Poppins";
    margin-bottom: 7px;
    letter-spacing: 8px;

    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.informacoes h1 {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 7px;
    letter-spacing: 8px;
}

.informacoes .descricao {
    width: 100%;
    font-size: 12px;
    color: #ffffff;
    line-height: 35px;
    height: 280px;
    overflow: auto;
    padding-right: 20px;
}

.botoes-carrossel {
    display: flex;
    justify-content: center;
    gap: 20px;

    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.botoes-carrossel .botao {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: #ffffff
}

.botoes-carrossel .botao.selecionado {
    background-color: #1d6683;
}

.imagem {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: none;
}

.imagem.ativa {
    display: block;
    animation: mudarImagem 0.7s;
}

@keyframes mudarImagem {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 1;
    }
}

main:after {
    content: "";
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(120deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.059) 50%, rgba(0, 0, 0, 1) 90%);
    z-index: -1;
}
