@media (max-width: 425px) {
    body {
        padding: 40px;
    }

    .informacoes .descricao {
        width: 100%;
    }

    .conteudo {
        min-height: 70vh;
        gap: 50px;
    }
}
